<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>{% block title %}PSNGames CRM{% endblock %}</title>
<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,500;1,500&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body class="dark">
<script>
console.log(localStorage.getItem('darkMode'));
if (localStorage.getItem('darkMode') === "on") {
document.body.classList.add("dark");
document.addEventListener("DOMContentLoaded", function() {
document.querySelector('.js-switch-theme input').checked = true;
});
}
</script>
<div class="page">
<!-- Sidebar Menu -->
<div class="sidebar">
<div class="sidebar__top"><a class="sidebar__logo" href="https://ui8-unity-gaming.herokuapp.com/index.html"><img class="sidebar__pic sidebar__pic_black" src="/static/images/logo.svg" alt=""><img class="sidebar__pic sidebar__pic_white" src="/static/images/logo-white.svg" alt=""></a><button class="sidebar__burger"></button></div>
<div class="sidebar__wrapper">
<div class="sidebar__inner">
<div class="sidebar__group">
<div class="sidebar__caption caption-sm"><span>Главное </span>меню</div>
<div class="sidebar__menu">
<a class="sidebar__item active" href="/"><div class="sidebar__icon"><i class="fa-solid fa-gamepad"></i></div><div class="sidebar__text">News Feed</div></a>
<a class="sidebar__item" href="/"><div class="sidebar__icon"><i class="fa-solid fa-fire"></i></div><div class="sidebar__text">Trending</div></a>
<a class="sidebar__item" href="/"><div class="sidebar__icon"><i class="fa-solid fa-user-group"></i></div><div class="sidebar__text">Following</div></a>
<a class="sidebar__item" href="/"><div class="sidebar__icon"><i class="fa-solid fa-video"></i></div><div class="sidebar__text">Your Videos</div><div class="sidebar__add"><i class="fa-solid fa-plus"></i></div></a>
<a class="sidebar__item" href="/"><div class="sidebar__icon"><i class="fa-solid fa-list"></i></div><div class="sidebar__text">Playlist</div></a>
</div>
</div>
<div class="sidebar__group">
<div class="sidebar__caption caption-sm"><span>Unity </span>Gaming</div>
<div class="sidebar__menu">
<a class="sidebar__item" href="https://ui8-unity-gaming.herokuapp.com/chat.html"><div class="sidebar__icon"><i class="fa-solid fa-comments"></i></div><div class="sidebar__text">Chat</div><div class="sidebar__counter">20</div></a>
<a class="sidebar__item js-popup-open" href="https://ui8-unity-gaming.herokuapp.com/index.html#popup-settings" data-effect="mfp-zoom-in"><div class="sidebar__icon"><i class="fa-solid fa-gear"></i></div><div class="sidebar__text">Settings</div></a>
<a class="sidebar__item" href="https://ui8-unity-gaming.herokuapp.com/channel-analytics.html"><div class="sidebar__icon"><i class="fa-solid fa-chart-line"></i></div><div class="sidebar__text">Analytics</div></a>
</div>
</div>
</div>
</div>
<div class="sidebar__bottom">
<label class="switch switch_theme js-switch-theme">
<input class="switch__input" type="checkbox">
<span class="switch__in">
<span class="switch__box"></span>
<span class="switch__icon">
<i class="fa-solid fa-moon"></i>
<i class="fa-solid fa-sun"></i>
</span>
</span>
</label>
</div>
</div>
<!-- Sidebar Menu End-->
<div class="page__wrapper">
<!-- Header -->
<div class="header"><button class="header__burger"></button>
<form class="header__search">
<input class="header__input" type="text" placeholder="Search Everything">
<button class="header__btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
<div class="header__control">
<div class="header__item header__item_add js-header-item">
<button class="header__head js-header-head"><i class="fa-solid fa-plus"></i></button>
<div class="header__body js-header-body">
<a class="header__line" href="/"><div class="header__icon"><i class="fa-solid fa-gamepad"></i></div><div class="header__text">Добавить игру</div></a>
<a class="header__line" href="/"><div class="header__icon"><i class="fa-solid fa-dice"></i></div><div class="header__text">Добавить аккаунт</div></a>
</div>
</div>
<a class="header__item header__item_search" href="https://ui8-unity-gaming.herokuapp.com/index.html#"><i class="fa-solid fa-magnifying-glass"></i></a>
</div>
<div class="header__item header__item_profile">
<a class="header__head" href="https://ui8-unity-gaming.herokuapp.com/index.html#"><img class="header__pic" src="{{ request.state.user.avatar or '/static/images/avatar.png' }}" alt=""></a>
<div class="header__body">
<a class="header__link" href="/user/{{ request.state.user.username }}"><div class="header__img"><i class="fa-solid fa-user"></i></div>Профиль</a>
<a class="header__link" href="/"><div class="header__img"><i class="fa-solid fa-gear"></i></div>Настройки</a>
<a class="header__link" href="/logout"><div class="header__img"><i class="fa-solid fa-right-from-bracket"></i></div>Выйти</a>
</div>
</div>
</div>
<!-- Header End -->

<div class="page__center">
{% block content %}{% endblock %}
</div>
</div>
</div>

<script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', path='js/svg4everybody.min.js') }}"></script>
<script src="{{ url_for('static', path='js/slick.min.js') }}"></script>
<script src="{{ url_for('static', path='js/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', path='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', path='js/jquery.nice-select.min.js') }}"></script>
<script src="{{ url_for('static', path='js/app.js') }}"></script>
<script src="{{ url_for('static', path='js/charts.js') }}"></script>

</body>
</html>