{% extends "base.html" %}
{% block title %}Главная страница | PSNGames CRM{% endblock %}
{% block content %}
<!-- Main Page -->
<div class="collection">
<div class="collection__head">
<div class="collection__title h5">Live channels</div>
</div>
<div class="collection__list">
<a class="card" href="https://ui8-unity-gaming.herokuapp.com/index.html#">
<div class="card__preview"><img class="card__pic" src="/static/images/card-pic-1.png"></div>
<div class="card__body">
<div class="card__title h6">2020 World Champs Gaming Warzone</div>
<div class="card__user">
<div class="card__ava"><img class="card__pic" src="/static/images/ava-1.png" alt=""></div>
<div class="card__desc">
<div class="card__man confirm">Tam Tran</div>
<div class="card__game">Call of Duty®</div>
</div>
</div>
</div>
<div class="card__foot">
<div class="live">Live</div>
<div class="status blue">4.2K watching</div>
</div>
</a>
</div>
</div>
<div class="users">
<div class="users__container">
<div class="users__info h6">From Channels You Follow</div>
<div class="users__list">
<a class="users__item users__item_add" href="https://ui8-unity-gaming.herokuapp.com/index.html#">
<div class="users__add"><i class="fa-solid fa-plus"></i></div>
<div class="users__title">Add Yours</div>
</a>
<a class="users__item" href="https://ui8-unity-gaming.herokuapp.com/index.html#">
<div class="ava ava_online"><img class="ava__pic" src="/static/images/ava-1.png" alt=""></div>
<div class="users__title">Gabriel Erickson </div>
<div class="users__time">14m ago</div>
</a>
</div>
</div>
</div>
<div class="categories">
<div class="categories__info h5">Popular Categories</div>
<div class="categories__list">
<div class="categories__item categories__item_sm">
<div class="categories__preview" style="background-image: url('/static/images/categories-pic-2.png');"></div>
<div class="categories__details">
<div class="categories__tags">
<div class="categories__tag">Shooter</div>
</div>
<div class="categories__title h6">Fortnite</div>
<div class="status green">4.9K Viewers</div>
<button class="categories__btn btn btn_gray">Follow</button>
</div>
</div>
</div>
</div>
<!-- Main Page End -->
{% endblock %}